<div class="row mt-3" *ngIf="personagem; else loading">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">{{ personagem.name }}</h2>
        <h3 class="card-title">Character Information</h3>
        <ul>
          <li>Height: {{ personagem.height }}</li>
          <li>Mass: {{ personagem.mass }}</li>
          <li>Hair color: {{ personagem.hair_color }}</li>
          <li>Skin color: {{ personagem.skin_color }}</li>
          <li>Eye color: {{ personagem.eye_color }}</li>
          <li>Birth year: {{ personagem.birth_year }}</li>
          <li>Gender: {{ personagem.gender }}</li>
        </ul>
        <h3 class="card-title">Homeworld</h3>
        <ul>
            <li>{{ personagem.homeworld.name }}</li>
        </ul>
        <h3 class="card-title">Films</h3>
        <ul>
          <li *ngFor="let filme of personagem.films">{{ filme }}</li>
        </ul>
        <h3 class="card-title" *ngIf="personagem.species.name">Species</h3>
        <ul *ngIf="personagem.species.name">
          <li>{{ personagem.species.name }}</li>
          <li>Language: {{ personagem.species.language }}</li>
        </ul>
        <h3 class="card-title" *ngIf="personagem.vehicles.length">Vehicles</h3>
        <ul *ngIf="personagem.vehicles.length">
          <li *ngFor="let veiculo of personagem.vehicles">{{ veiculo.name }} - <b>Model: </b>{{veiculo.model}}</li>
        </ul>
        <h3 class="card-title" *ngIf="personagem.starships.length">Starships</h3>
        <ul *ngIf="personagem.starships.length">
          <li *ngFor="let nave of personagem.starships">{{ nave }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  Carregando Informação
</ng-template>
